Pokedex (1).json
{
  "name": "Pokedex",
  "nodes": [
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "mybucket",
        "fileName": "={{ $json['Nombre de pokemon'] }}.jpg",
        "additionalFields": {}
      },
      "id": "2af92b66-a282-47fb-aa9f-31636a056a08",
      "name": "S3",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1120,
        800
      ],
      "credentials": {
        "s3": {
          "id": "8ONgIpDWPIhyojEK",
          "name": "S3 pokemon"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/models/stabilityai/stable-diffusion-3.5-large",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"Crea una unica imagen de un pokemon llamado {{ $json['Nombre de pokemon'] }}\"\n}",
        "options": {}
      },
      "id": "8262066c-d47f-4e17-8532-187e6414caac",
      "name": "Generación de imágenes con IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        800
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "khMnSaRnsmdpFeem",
          "name": "HuggingFaceApi"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Pokedex",
        "formDescription": "Pokémon:Bulbasaur, Ivysaur, Venusaur, Charmander, Charmeleon, Charizard, Squirtle, Wartortle, Blastoise, Caterpie, Metapod, Butterfree, Weedle, Kakuna, Pidgey, Pidgeotto, Pidgeot, Rattata, Raticate, Spearow, Fearow, Ekans, Arbok, Pikachu, Raichu, Sandshrew, Sandslash, Nidoran-f, Nidorina. \n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre de pokemon",
              "fieldType": "textarea"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "addc2a30-c2ae-4d0f-86f4-e542d6528bb6",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        400,
        640
      ],
      "webhookId": "790cd9f7-03f1-4e64-8dd7-e99c27810cd8",
      "notesInFlow": false
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Pokedex</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #008080;\n      margin: 0;\n      padding: 0;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      min-height: 100vh;\n    }\n    h1 {\n      text-align: center;\n      background-color: #ffcb05;\n      color: #2a75bb;\n      padding: 20px;\n      border-radius: 10px;\n      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n    }\n    h2{\n      margin: 0;\n      color: #2a75bb;\n      font-weight: bold;\n    }\n    .pokemon-card {\n      border: 4px solid #000;\n      border-radius: 10px;\n      padding: 20px;\n      text-align: center;\n      background-color: #ffcb05;\n      width: 300px;\n      margin: 20px auto;\n      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n    }\n    .pokemon-card img {\n      width: 100%;\n      max-width: 200px;\n      height: auto;\n      border-radius: 10px;\n      margin-bottom: 10px;\n    }\n    .pokemon-card p {\n      margin: 0;\n      color: #333;\n      font-weight: bold;\n    }\n  </style>\n</head>\n<body>\n  <h1>Pokedex</h1>\n  <div class=\"pokemon-card\">\n    <img src=\"https://pub-5b1ac9af9fce4cafbfdf3b6c7aa003c8.r2.dev/{{ $('On form submission').item.json['Nombre de pokemon'] }}.jpg\" alt=\"{{ $('On form submission').item.json['Nombre de pokemon'] }}\">\n    <h2> <strong>{{ $('On form submission').item.json['Nombre de pokemon'] }}</strong></h2>\n    <p>{{ $json.text }}</p>\n  </div>\n</body>\n</html>\n"
      },
      "id": "f8220065-151e-4dd8-998f-b35c3f004f6a",
      "name": "HTML2",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1660,
        660
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "12d557b9-6c43-4e7a-a86a-21364c6370f0",
      "name": "Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        840,
        620
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "qYmWwcYNWjhk9ejL",
          "name": "Mistral Cloud pokedex"
        }
      }
    },
    {
      "parameters": {},
      "id": "2e669289-29ee-4157-8fdf-081e475df7b3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1380,
        580
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dame en dos líneas de texto el tipo y habilidades del pokemon {{ $json['Nombre de pokemon'] }}",
        "hasOutputParser": true
      },
      "id": "9929bc73-f770-4b20-bc8f-70aa0ff4da67",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        820,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Generación de imágenes con IA": {
      "main": [
        [
          {
            "node": "S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Generación de imágenes con IA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "407bd911-6e75-4041-9d7a-0b35c3c1053e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3712eb364db532c54337828199b7042fdcaf08485360fd21cecd92a82dd6edc8"
  },
  "id": "bGLMp5t57DEPFnzD",
  "tags": []
}